[flake8]
# per-file-ignores =
max-line-length = 4440

exclude = 
    .git, 
    __pycache__, 
    docs/source/conf.py, 
    old, 
    build, 
    dist, 
    core/settings/base.py, 
    env/**,
    env
    .\env\**
    .\env
max-complexity = 10
