include LICENSE
include README.md

# Include templates and static files required by the app
recursive-include dj_waanverse_auth/templates *

# Explicitly exclude local development and configuration files
exclude requirements.txt
exclude requirements.dev.txt

# Prune development directories entirely from the source distribution
prune tests
prune demo
