annotated-types==0.8.0
asgiref==3.12.1
cbor2==6.1.4
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
coverage==7.16.0
cryptography==50.0.1
Django==6.1.1
django-cors-headers==4.9.0
django-dotenv==1.4.2
djangorestframework==3.18.1
dnspython==2.8.0
email-validator==2.3.0
flake8==7.3.0
idna==3.19
mailersend==2.0.3
mccabe==0.7.0
phonenumbers==9.0.38
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
pyflakes==3.4.0
PyJWT==2.13.0
pyOpenSSL==26.4.0
PyOTP==2.10.0
requests==2.34.2
setuptools==84.0.0
sqlparse==0.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.3
ua-parser==1.0.2
ua-parser-builtins==202606
urllib3==2.7.0
user-agents==2.2.0
webauthn==3.0.0
