[run]
source = dj_waanverse_auth
omit =
    */migrations/*
    */tests/*
    */test_*.py
    dj_waanverse_auth/apps.py
    manage.py
    demo/*
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if TYPE_CHECKING:
    if __name__ == .__main__.:

[html]
directory = htmlcov